<a href="https://colab.research.google.com/github/kjh8331267/KDIS_python_lecture/blob/main/3_lab_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

Today, we learned different data types in Python and how to manage and process them, such as converting types and applying existing functions --- called "methods". Now, it's time for you to play with them! Let's begin from the easiest ones: integer and float.


## 1. Integer & Float

- Integer: numbers without a decimal point
- Float: real numbers with decimal point

Although there is a way to process complex numbers in Python (for example, you can check [here](https://stackoverflow.com/questions/8370637/complex-numbers-in-python)), we rarely can see those numbers in real data so we can skip it for now.



### (1) Assign values into variables and check the types of them
We begin from putting integer and float values into variables, and print them and their types.
Use the `print()` function we learned in the last practice (Google how to use it if you already forgot about it..), put the number 3483 into a variable named `int_ex_num` and print it.

In [7]:
# put the number 3483 into a variable named int_ex_num
intnum = 29857
print(intnum)

# print the variable
int_ex_num  =  3483
print(int_ex_num)

29857
3483

Great! Then, using the function `type()`, print the type of the variable, so we can check whether 3483 is an integer or a float.

In [8]:
intnum = 298572
print(type(int_ex_num))

<class 'int'>

Similarly, now put the number 31.434 into a variable named `float_ex_num` and print (1) the variable, and (2) the type of the variable.

In [9]:
# put the number 31.434 into a variable named float_ex_num
float_ex_num = 31.434

# print the variable
print(float_ex_num)

# print the type of the variable
print(type(float_ex_num))

31.434
<class 'float'>

### (2) Convert types between integer and float

`int()` function makes a float to an integer, by ignoring the part after decimal point. For example, `float_ex_num` becomes 31 if you apply `int()` function. Can you show this magic by printing the result of the variable after applying the `int()` function?

In [10]:
# From float to integer: int()
floatnum = 8325.9328
print(int(float_ex_num ))

31

Similarly, you can convert an integer to float by using `float()` function. Can you convert `int_ex_num` to a float and print it?

In [12]:
# From integer to float: float()
intnum = 92358
print(float(int_ex_num ))

3483.0

Finally, for a float value, you can change the length of decimal place by using `round()` function. For example, put 3.141592 and 2 as parameters of `round()` function, you can make the number become 3.14. Can you try it, and print the result?

In [15]:
# Changing the length of decimal points: round()
floatnum = 3.141592
print(round(floatnum,2))
print(round(floatnum, 4))

3.14
3.1416

## 2. Boolean

There are only two possible values in Boolean format: `True` and `False`. As emphasized in the lecture, write the first letter for each value --- T and F --- in capital letters is important!

Let's create a variable named `bool_ex` and put `True` value into the variable.

In [16]:
bool_ex = True
print(bool_ex)

True

Print the type of `bool_ex` to check if Python recognized it as a Boolean value.

In [17]:
bool_ex = False
print(type(bool_ex))

<class 'bool'>

## 3. String

Finally, it's the time to practice about processing strings, which is one of the most common data types, when you actually become to deal with data --- name, address, social media contents, comments, policy documents, and etc., especially if you utilize Natural Language Processing (NLP) algorithms later.

### (1) Assign values into variables and check the types of them

Before trying various string methods in Python, let's begin from the tasks that we've done for integer and float: (1) Put the string "My name is (your name)" into a variable named `str_ex` and print it, and (2) print the type of `str_ex`.

In [18]:
# put the string above into a variale str_ex
string_ex = "My name is haha"
print(string_ex)

# print the type of it using type()
print(type(string_ex))

My name is haha
<class 'str'>

### (2) Convert strings consisting of numbers into integer or float

As you did above, you can apply `int()` and `float()` functions to convert strings that only consist of numbers into integer and float, respectively.

Using the variables that I already assigned string values, add `str_a` and `str_b` as integers, by converting them to integers.

Similarly, add `str_c` and `str_d` after converting them to float types.

In [22]:
# Add them as integers
str_a = "2"
str_b = "5"
print(int(str_a) + int(str_b))

# Add them as floats
str_c = "2.1"
str_d = "3.4"
value = float(str_c) + float(str_d)
print(value)

7
5.5

### (3) String Methods

As we've seen during today's lecture, there are many functions (called methods, although there're some differences between function and method, which we will deal with later when learning class in Python) for strings. If you can use them well in appropriate situations, they are super powerful in text analyses.

Since there are a lot of those functions, probably it would be difficult for you to remember all of them. Hence, I'd recommend you to use Google and Stackoverflow (as I emphasized before) whenever you forgot the name of the method while you know it exists.

Let's set up a target string that we can try different methods to!

In [24]:
target_str_pt1 = "thIs Is A tarGeT sTring."

target_string = "this is My Target stRING"

print(target_string.upper())
print(target_string.lower())
print(target_string.capitalize())
print(target_string.title())

THIS IS MY TARGET STRING
this is my target string
This is my target string
This Is My Target String

#### a. `upper()` / `lower()` / `capitalize()` / `title()`

In [25]:
# Print upper_str where all letters are capital letters, using upper()
upper_str = target_str_pt1.upper()
print(upper_str)

# Print lower_str where all letters are lower letters, using lower()
lower_str = target_str_pt1.lower()
print(lower_str)

# Print cap_str where the sentence is capitalized, using capitalize()
cap_str =target_str_pt1.capitalize()
print(cap_str)

# Print title_str where the first letters of all words are capital letters, using title()
title_str =target_str_pt1.title()
print(title_str)

THIS IS A TARGET STRING.
this is a target string.
This is a target string.
This Is A Target String.

#### b. `strip()` / `split()`

In [26]:
target_str_pt2 = "    thIs Is A tarGeT sTring.    "

In [27]:
# Print the target strings after removing the spaces before and after the sentence using strip()
strip_str =target_str_pt2.strip()

print(strip_str)

thIs Is A tarGeT sTring.

In [28]:
# Print the list of words in our target string, using split()
word_list = target_str_pt2.split()

print(word_list)

['thIs', 'Is', 'A', 'tarGeT', 'sTring.']

#### c. `join()`

In [29]:
# Print the original sentence (but without spaces around), recovered from word_list, using join()
joined_str = ' '.join(word_list)

print(joined_str)

thIs Is A tarGeT sTring.

In [30]:
# Print a new target string, where "A tarGeT" becomes "Another tarGeT", using replace() to our target string
new_target_str =target_str_pt2.replace('A tarGeT', 'Another tarGeT')

print(new_target_str)

    thIs Is Another tarGeT sTring.