<a href="https://colab.research.google.com/github/kjh8331267/KDIS_python_lecture/blob/main/6_lab_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## `for` / `while`

Today, we first learned how to iterate your process for a large number of data (or records). Since, computer is really good at iterative work than human workers, who become bored by doing the same things over and over, iterative process is one of the most common things we ask for computers.

Let's try to make your computer do iterative works with instructions about when and where to start and stop the process.

### 1. `for` Loop

The `for` statement iterates through a collection or iterable object or generator function.
When we need an iterative process, we generally have a fixed collection: a set, tuple, list, map or even a string. Any of these can be an iterable collection, where we apply a `for` loop.
Also, we can use a `for` loop, when we have the values we want to process as a range (an actual list), by using `range()` function together.

#### (1) Level 1
Print the numbers from 4 to 11, using a `for` loop.

In [3]:
# Your code
for i in range(4, 12):
  print(i)

4
5
6
7
8
9
10
11

#### (2) Level 2

Creat a list of five names of your friends, called `friends_list`, as the format "(first name) (last name)" such as "Jisung Yoon".
Then, using a `for` loop, print only the first names of your five friends.

(HINT: When you have a full name as a string, you can extract the first name by using a combination of `split()` and indexing.)

In [8]:
# Print only the first names of your friends
friends_list = ['jisung yoon', 'jihyeon kim']

for f in friends_list:
    print(f.split(' ')[0])

jisung
jihyeon

### 2. `while` Loop

If you don't have a fixed data structure to iterate through, or you don't have a generator function that drives your processing like `range()`, you must use `while` statement.

Actually, in a lot of real-world cases, you can write your code using both `for` and `while`. However, there exists some cases where your code becomes much shorter and efficient when using `while` statement than `for` statement.
Generally, `while` is useful in the scenarios where the break condition doesn't logically depend on any kind of sequence.

For instance, assume that you want to know at what natural number the accumulated sum to the number becomes right before 10,000.
That is, if the number is _n_, 1+2+3+...+_n_ is the number closest to 10,000, while not exceeding 10,000 (If you already know the number or calculate the number within a second, you don't need a code because you're a computer by yourself... But still, assume that you don't know the number to make the accumulated sum nearby 10,000).

If you write this code using a `for` loop, you have to set the maximum number that is impossible that the _n_ is larger than this. In our example, the easiest guessing would be 10,000, because the accumulated sum to 10,000 definitely must be larger than 10,000. With this rough and lazy estimation, we can write a code using `for` loop as follows.

In [10]:
accum_sum = 0

for n in range(10000):
  accum_sum = accum_sum + n
  if accum_sum > 10000:
    print(accum_sum)
    print(n-1) # We need not n but n-1, because the accumulated sum to n is already bigger than 10,000
    break # We don't need to keep adding when we get the answer, so use "break" to stop the code when satisfying the "if" statement.

10011
140

Can you write a code doing the same thing but using `while` loop?

In [13]:
accum_sum = 0
# When you use "for n in range(x1, x2)", the value of n increases automatically, because of range(x),
# which generate a list of integer numbers from x1 to x2-1.
# But when you're using while process, you are not using the range() function,
# so you have to set the value of n to add, and increase it by one in the loop.
n = 0
while accum_sum <= 10000:
    n += 1
    accum_sum += n

print(accum_sum)
print(n)

10011
141

# `try` / `except`

When you write a code and run it, you often get an error because of some wrong inputs. For example, you got a long list of populations of all countries, where all population records are stored as integers, except a couple of numbers stored as strings such as "2308123".

If you write and run a `for` loop to iteratively sum all the numbers in the list, you will probably get an error because of the string formatted numbers.
Check if it's true:

In [14]:
number_list = [234,456,45,234,14123445,1234342,856,48556,34514,"7",55876,75678353,"8857436",23535]

num_sum = 0
for i in number_list:
  num_sum = num_sum + i

print(num_sum)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### (1) Level 1

For the numbers in the `number_list`, you want to add all the numbers while ignoring the strings.
By using `try` and `except` statement, can you modify the above code to do that?
(HINT: You can use the commands `continue` and `pass` to ignore the current iteration in in the `except` situation, like [this Q&A in Stackoverflow](https://stackoverflow.com/questions/19522990/python-catch-exception-and-continue-try-block))

In [17]:
number_list = [234,456,45,234,14123445,1234342,856,48556,34514,"7",55876,75678353,"8857436",23535]

num_sum = 0
for i in number_list:
    try:
        num_sum = num_sum + i
    except:
        pass
print(num_sum)

91200446

### (2) Level 2

Let's try a little more challenging task. In the above situation, what you initially wanted was not the sum of all the numbers only stored as integers but the sum of all the numbers in the list regardless of their stored types.
Then, can you modify the `except` part, so the numbers formatted as strings are also added to the result, after converting them to integer?

In [18]:
number_list = [234,456,45,234,14123445,1234342,856,48556,34514,"7",55876,75678353,"8857436",23535]

num_sum = 0
for i in number_list:
    try:
        num_sum = num_sum + i
    except:
        num_sum = num_sum + int(i)
print(num_sum)

100057889