<a href="https://colab.research.google.com/github/kjh8331267/KDIS_python_lecture/blob/main/7_lab_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

Today, we study how to create a function. A function is a block of organized, reusable code that is used to perform a single, related task. As the second lowest level in the modular structure of Python programming (the lowest level is a line of code), functions provide better modularity for your code and a high degree of code reusing.

One of the key principles of a clean, readable, and efficient code is to avoid a redundant code. In this perspective, if you have a specific task that are used in multiple times throughout one long code, you'd better to create a function and just call it whenever you need it in the code, rather than writing similar codes again and again whenever you need it.  
For example, assume that you use one task in 5 times throughout the whole of your code and the number of lines of the code for the task is 10.
Then it will take 50 lines of code, where most of them are redundant.
Instead, if you create a function for the task (with 10 lines) and call it whenever you need it (5 times, so 5 lines to call the function), the 50 lines without functionizing becomes 15 lines.

If you do this process multiple times for multiple tasks that are frequently used through the whole code, your code become much shorter, more readable
and concise.
Of course, your time to take for writing the code becomes much shorter too, so you can spend the additional time you get by functionizing to pet your kitty.

## 1. Level 1

As the first step of our practice about function, create a function, called `min_max_sum()` as follows:

- input: list of integer numbers
- output: the sum of the minimum and maximum numbers in the list

In [5]:
ex_int_list =[3,5,1,457,6723,5674,2,2345,2345,234,78456,83534]

# Your code to define the function
# Utilize min(), max() functions
def min_max_sum(lst):
    rst = min(lst) + max(lst)

    return rst

print(min_max_sum(ex_int_list))

83535

## 2. Level 2

Okay, let's move on to the next level, which would be a little closer to the actual fuctions you will make in the future.

Create a function that sum up only __odd__ numbers in a list:

- input: list of integer numbers (`ex_int_list` above)
- output: the sum of only __odd__ numbers in a given list

(HINT: Odd numbers are the numbers having 1 as a remainder when divided by 2. You can calculate a remainder using `%` sign. For example, run the following code.)

In [ ]:
print("remainder of 10 divided by 2:", 10 % 2)
print("remainder of 9 divided by 2:", 9 % 2)

remainder of 10 divided by 2: 0
remainder of 9 divided by 2: 1

In [7]:
# Your code
def sum_odds(lst):
    odds = []
    for i in lst:
        if i%2 == 1:
            odds.append(i)
    rst = sum(odds)
    return rst
sum_odds(ex_int_list)

11879

## 3. Level 3

So far, we just create a function and call the function as it is, as a final result. It's common to just call a function as a final result, when testing whether the function works correctly or not. However, in real world applications, you create functions at the beginning, then call them inside your main code (to process specific tasks that those functions aim) as a part of the whole code.

Hence, in Level 3, we practice **to define a function at the beginning and then call it in the middle of a main code**. First, define a functiong doing the following process.

- input: a string consists of name of a country and its population, such as "20,Thailand,699508500"

- output: tuple of country name (as a string) and population (as a integer), for example `("Thailand", 699508500)`.

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [11]:

def fun(chr):
    lst = chr.split(',')
    return (lst[1], lst[2])

Second, create an empty dictionary named `pop_dict`. Then read the file we tested last week, `country_population_data.csv`, as a list of lines.
Finally, what you're expected to do is, for each line of the records, you extract a tuple of country name and population, then store it into the empty dictionary.

(HINT: The following code shows you how you add an item to a dictionary.)

In [ ]:
pop_dict = {}

ex_dict["key_str_1"] = "value_str_1"
ex_dict["key_str_2"] = "value_str_2"

print(ex_dict)

{'key_str_1': 'value_str_1', 'key_str_2': 'value_str_2'}

In [12]:
# Your code for the file path
f_folder = '/content/drive/MyDrive/kdis_python/'
f_name = 'country_population_data.csv'

f_path = f_folder + f_name

In [14]:
# Your code for creating the dictionary
import pandas as pd
import numpy as np

df = pd.read_csv(f_path)
for i in df:
    print(i)

Rank
name
pop2021

In [16]:

with open(f_path, 'rb') as f:
    l = f.readlines()
    print(l)

[b'Rank,name,pop2021\n', b'1,China,14442161070\n', b'2,India,13934090380\n', b'3,United States,3329150730\n', b'4,Indonesia,2763617830\n', b'5,Pakistan,2251999370\n', b'6,Brazil,2139934370\n', b'7,Nigeria,2114007080\n', b'8,Bangladesh,1663034980\n', b'9,Russia,1459120250\n', b'10,Mexico,1302622160\n', b'11,Japan,1260508040\n', b'12,Ethiopia,1178762270\n', b'13,Philippines,1110469130\n', b'14,Egypt,1042583270\n', b'15,Vietnam,981688330\n', b'16,DR Congo,923779930\n', b'17,Germany,83900730\n', b'18,Turkey,850427380\n', b'19,Iran,850287590\n', b'20,Thailand,699508500\n', b'21,United Kingdom,682071160\n', b'22,France,654261790\n', b'23,Italy,603674770\n', b'24,South Africa,600419940\n', b'25,Tanzania,614984370\n', b'26,Myanmar,548060120\n', b'27,Kenya,549856980\n', b'28,South Korea,513051860\n', b'29,Colombia,512658440\n', b'30,Spain,467452160\n']

In [20]:
str(l[0]).split(',')

["b'Rank", 'name', "pop2021\\n'"]

In [15]:
df[name]

    Rank            name      pop2021
0      1           China  14442161070
1      2           India  13934090380
2      3   United States   3329150730
3      4       Indonesia   2763617830
4      5        Pakistan   2251999370
5      6          Brazil   2139934370
6      7         Nigeria   2114007080
7      8      Bangladesh   1663034980
8      9          Russia   1459120250
9     10          Mexico   1302622160
10    11           Japan   1260508040
11    12        Ethiopia   1178762270
12    13     Philippines   1110469130
13    14           Egypt   1042583270
14    15         Vietnam    981688330
15    16        DR Congo    923779930
16    17         Germany     83900730
17    18          Turkey    850427380
18    19            Iran    850287590
19    20        Thailand    699508500
20    21  United Kingdom    682071160
21    22          France    654261790
22    23           Italy    603674770
23    24    South Africa    600419940
24    25        Tanzania    614984370
25    26         Myanmar    548060120
26    27           Kenya    549856980
27    28     South Korea    513051860
28    29        Colombia    512658440
29    30           Spain    467452160